services:
  api:
    build:
      target: development
    volumes:
      - ./api:/src
      - ./db:/src/db
  apps-messages:
    build:
      target: development
    volumes:
      - ./apps/messages:/src
  apps-register:
    build:
      target: development
    volumes:
      - ./apps/register:/src
  apps-smtpd:
    build:
      target: development
    volumes:
      - ./apps/smtpd:/src
  filters-email:
    build:
      target: development
    volumes:
      - ./filters/email:/src
  router:
    ports:
      - "8080:8080"
    volumes:
      - ./router:/etc/traefik/dynamic
